@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Sen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Sen:wght@700&display=swap");

.body {
  display: flex;
  flex-direction: column;
  background-color: #e3ebee;
  min-height: 100vh;
}

.heading {
  font-family: sen;
  font-size: 40px;
  color: #000000;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* styling for ResultPage.js */
.noResultHeading {
  width: 40%;
  margin: 50px auto;
  text-align: center;
  color: #ff0000;
}

.footer {
  margin-top: auto;
}

#user-info-dropdown {
  border-radius: 50px;
}

/* styling for NavBar.js */
.nav-link {
  position: relative;
  
}
.nav-link::after {
  opacity: 0;
  transition: all 0.2s;
}
.nav-link:hover::after {
  content: '';
  opacity: 1;
  height: 2px;
  width: 100px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}