@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Sen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Sen:wght@700&display=swap");

.body {
  display: flex;
  flex-direction: column;
  background-color: #e3ebee;
  min-height: 100vh;
}

.heading {
  font-family: sen;
  font-size: 40px;
  color: #000000;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* styling for ResultPage.js */
.noResultHeading {
  width: 40%;
  margin: 50px auto;
  text-align: center;
  color: #ff0000;
}

.footer {
  margin-top: auto;
}

#user-info-dropdown {
  border-radius: 50px;
}
